.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
}

.header a {
    text-decoration: none;
    color: black;
}

.header h1 {
    margin: 0;
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-actions button {
    cursor: pointer;
    margin-left: 30px;
    padding: 10px 20px;
    border: 2px solid var(--c-goldenrod);
    border-radius: 25px;
    font-family: var(--font-text);
    text-transform: uppercase;
}
.header-actions button:hover {
   background-color: var(--c-goldenrod);
}

@media (max-width: 500px) { 
    .header-actions button {
        font-size: x-small;
        padding: 5px 10px;
        margin-left: 15px;
    }
}